.banner {
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;
  z-index: 0;

  &:after {
    @include mask();
    background-color: rgba(18, 16, 37, 0.25);
    content: '';
    display: block;
    z-index: 1;
  }

  @include breakpoint(medium) {
    height: 600px;
  }

  @include breakpoint(large) {
    height: 700px;
  }
}