.wrapper {
  @include mask();
  background-color: $secondary;
  border-bottom: 1px solid $black;
  overflow: hidden;
  padding-top: $nav-height;
  z-index: 0;
}

.background {
  @include mask();
  z-index: -1;
}

.svg {
  fill: none;
  fill-opacity: 0.1;
  height: auto;
  position: relative;
  right: 0;
  stroke: #fff;
  stroke-opacity: 0.1;
  top: 0;
  width: 400%;

  @include breakpoint(medium) {
    height: auto;
    left: -5%;
    top: 25%;
    width: 100%;
  }
}

.container {
  @include flex-grid-row();
  align-items: center;
  height: 100%;
  justify-content: center;
  padding-right: 30px;
  width: 100%;

  @include breakpoint(medium) {
    padding-right: 50px;
  }
}

.content {
  @include flex-grid-column(12);

  h2 {
    color: $blue;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  p {
    font-size: 0.85em;
    line-height: 1.3;
    margin: 0;
  }

  @include breakpoint(medium) {
    @include flex-grid-column(6);

    h2 {
      font-size: 2em;
    }

    p {
      font-size: 0.95em;
    }
  }

  @include breakpoint(large) {
    @include flex-grid-column(6);

    h2 {
      font-size: 2.75em;
    }

    p {
      font-size: 1.1em;
    }
  }
}

.link {
  color: $blue;
  font-family: $header-font-family;
  font-size: 1.3em;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;

  @include breakpoint(medium) {
    font-size: 1.5em;
  }
}

.right {
  @include flex-grid-column(12);
  text-align: center;

  @include breakpoint(medium) {
    @include flex-grid-column(6);
    max-width: none;
  }
}

.imageWrapper {
  height: 0;
  margin: auto;
  max-width: 250px;
  padding-bottom: 68.142%;
  position: relative;
  width: 100%;

  img {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include breakpoint(420) {
    max-width: none;
  }
}
