.wrapper {
  display: block;
  flex: 1 1 100%;
  height: 250px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2;

  &:before {
    @include mask();
    background-color: #000;
    content: '';
    opacity: 0;
    transition: opacity 0.15s ease-in;
    z-index: 1;
  }

  &:hover {
    .content {
      display: flex;
      color: $white;
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
      transition: color 5s, text-shadow 5s;
    }

    .background {
      transform: scale(1.2);
      transition: transform 15s;
    }

    &:before {
      content: '';
      opacity: 0.25;
      transition: opacity 0.5s ease-in;
    }

    .p {
      color: $white;
      opacity: 1;

      &:after {
        content: '';
        transform: scaleX(1);
      }
    }
  }

  @include breakpoint(medium) {
    flex: 1 1 50%;
    height: 325px;
    max-width: 50%;
  }

  @include breakpoint(large) {
    height: 400px;
  }
}

.title {
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */

  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
  typing 1.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

.background {
  @include mask();
  background-position: center;
  background-size: cover;
  pointer-events: none;
  transform: scale(1);
  transition: transform 5s;
  will-change: transform;
  z-index: 0;
}

.content {
  align-items: center;
  color: darken($white, 10);
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 10px;
  pointer-events: none;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  transition: color 1s, text-shadow 1s;

  span {
    display: inline-block;
    white-space: pre;
  }

  .p {
    display: inline;
    font-family: $header-font-family;
    font-size: 1.5em;
    font-weight: 200;
    opacity: 0.75;
    position: relative;
    text-transform: uppercase;

    &:before {
      border-bottom: 1px solid $grey;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      width: 0.25em;
    }

    &:after {
      border-bottom: 1px solid $white;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      transform: scaleX(0);
      transform-origin: left;
    }
  }

  h3,
  p {
    font-family: $header-font-family;
    font-weight: 200;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    z-index: 5;
  }

  h3 {
    font-size: 1.75em;
    perspective: 200px;
  }

  p {
    font-size: 1.2em;
  }

  @include breakpoint(medium) {
    h3 {
      font-size: 2em;
    }
  }

  @include breakpoint(large) {
    h3 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.5em;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateZ(-3px);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }

}

.viewOurProjectsButton {
	display: inline-block;
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
  color: $white;
	font-family: $header-font-family;
	font-size: 1em;
	font-weight: 200;

	@include breakpoint(medium) {
		font-size: 1.2em;
	}
}
.viewOurProjectsButton span {
	display: block;
	padding: 15px 30px 20px 30px;
}

.viewOurProjectsButton::before,
.viewOurProjectsButton::after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	transition: all 0.2s linear;
	background: $white;
}

.viewOurProjectsButton span::before,
.viewOurProjectsButton span::after {
	content: '';
	width: 2px;
	height: 0;
	position: absolute;
	transition: all 0.2s linear;
	background: $white;
}
.viewOurProjectsButton:hover::before,
.viewOurProjectsButton:hover::after {
	width: 100%;
}
.viewOurProjectsButton:hover span::before,
.viewOurProjectsButton:hover span::after {
	height: 100%;
}

.viewOurProjectsButton::after {
	left: 0;
	bottom: 0;
	transition-duration: 0.4s;
}
.viewOurProjectsButton span::after {
	right: 0;
	top: 0;
	transition-duration: 0.4s;
}
.viewOurProjectsButton::before {
	right: 0;
	top: 0;
	transition-duration: 0.4s;
}
.viewOurProjectsButton span::before {
	left: 0;
	bottom: 0;
	transition-duration: 0.4s;
}
