.wrapper {
  background-color: $primary;
  position: relative;

  h3,
  p {
    margin-bottom: 40px;
  }

  @include breakpoint(small) {
    h3,
    p {
      margin-top: 60px;
      margin-bottom: 30px;
    }
  }

  @include breakpoint(medium) {
    h3,
    p {
      margin-bottom: 50px;
    }
  }

  @include breakpoint(large) {
    h3,
    p {
      margin-bottom: 60px;
    }
  }
}


.topPrint {
  bottom: 0;
  left: 0;
  max-height: 400px;
  position: absolute;
  right: 0;
  top: 0;

  @include breakpoint(medium) {
    max-height: 700px;
  }

  @include breakpoint(large) {
    max-height: none;
  }
}

.title {
  // padding-left:64px;
  color: #75B0EA;
  font-size: 24px;
  position: relative;

  @include breakpoint(small) {
    padding-left: 135px;
  }

  @include breakpoint(medium){
    font-size: 48px;
    padding-left: 140px;
  }
}

.imgContainer {
  left: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-20px, -50%);



  @include breakpoint(medium){
    width: 111px;
  }
}

.paragraph{
  padding-left:0;

  @include breakpoint(medium){
    padding-left: 142px;
  }
}
