.wrapper {
  background-color: $white;
  border-top: 1px solid $dark-gray;
  width: 100%;
}

.heading {
  color: $dark-grey;
}

.container {
  align-content: space-around;
  align-items: center;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px 0;


  @include breakpoint(320px) {
    flex-direction: column;
  }

  @include breakpoint(375px) {
    flex-direction: row;
  }
}

.imgContainer {
  flex: 0 1 50%;
  min-width: 25%;
  padding: 20px;
  text-align: center;

  @include breakpoint(medium) {
    flex: 0 1 33.333%;
  }
  @include breakpoint(large) {
    flex: 0 1 25%;
  }

  img {
    max-width: 130px;
  }
}
