.heading {
  color: rgb(117, 176, 234);
  text-transform: uppercase;
  margin-top:50px;
}

.link,
.linkMap {
  opacity: 0.75;
  text-decoration: none;
  transition: opacity 0.15s ease-in;

  &:hover {
    opacity: 1;
  }
}

.linkMap {
  color: rgb(117, 176, 234);
}
