.wrapper {
	//@include mask();
	height: auto;
	background-color: $secondary;
	border-bottom: 1px solid $black;
	overflow: hidden;
	padding: 60px 0 40px 0;
	z-index: 0;

	@include breakpoint(560px down) {
		height: auto;
	}
}

.background {
	@include mask();
	z-index: -1;
}

.svg {
	fill: none;
	fill-opacity: 0.1;
	height: auto;
	position: relative;
	right: 0;
	stroke: #fff;
	stroke-opacity: 0.1;
	stroke-width: 0.2;
	top: 0;
	width: 400%;

	@include breakpoint(medium) {
		height: auto;
		left: 0%;
		top: 0%;
		width: 100%;
	}
}

.container {
	@include flex-grid-row();
	align-items: center;
	height: 100%;
	justify-content: center;
	padding-right: 30px;
	width: 100%;

	@include breakpoint(medium) {
		padding-right: 50px;
	}
}

.content {
	@include flex-grid-column(12);

	h2 {
		color: $blue;
		font-size: 1.2em;
		text-transform: uppercase;
	}

	p {
		font-size: 0.85em;
		line-height: 1.3;
		margin: 0;
	}

	@include breakpoint(medium) {
		order: 1;

		@include flex-grid-column(6);

		h2 {
			font-size: 2em;
		}

		p {
			font-size: 0.95em;
		}
	}

	@include breakpoint(large) {
		@include flex-grid-column(6);

		h2 {
			font-size: 2.75em;
		}

		p {
			font-size: 1.1em;
		}
	}
}

.link {
	color: $blue;
	font-family: $header-font-family;
	font-size: 1.2em;
	font-weight: 200;
	text-decoration: none;
	text-transform: uppercase;

	@include breakpoint(medium) {
		font-size: 1.4em;
	}
}

.right {
	@include flex-grid-column(12);
	text-align: center;

	@include breakpoint(medium) {
		@include flex-grid-column(6);
		max-width: none;
	}
}

.imageWrapper {
	height: 0;
	margin: auto;
	max-width: 250px;
	padding-bottom: 91.666%;
	position: relative;
	width: 100%;

	img {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	@include breakpoint(medium) {
		max-width: none;
	}
}

.awardCard {
	display: flex;
	height: 336px;
	justify-content: center;
	align-items: center;
	font-family: oswald, sans-serif;
	font-size: 30px;
	font-weight: 100;
	padding-left: 8px;
	padding-right: 8px;

	@include breakpoint(1024px down) {
		height: 319px;
	}

	@include breakpoint(768px down) {
		height: 250px;
	}
}

.cardRow {
	width: 100%;
	display: flex;
	height: 50%;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1;
	align-items: center;
	padding: 0% 10% 0% 10%;

	&:first-child{
		margin-top:80px;
		margin-bottom:150px;
	}

	&:last-child{
		margin-bottom:80px;
	}

	@include breakpoint(1083px down) {
		flex-direction: row;
		padding: 0;
	}

	@include breakpoint(768px down) {
		flex-direction: row;
		padding: 0;
	}

	@include breakpoint(560px down) {
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0;
		height: auto;

		&:first-child{			
			margin-bottom:0px;
		}

		&:last-child{
			margin-bottom:80px;
		}
	}

	p {
		font-size: 100%;
		margin: 0;

		@include breakpoint(1083px down ) {
			font-size: 80%;
		}

		@include breakpoint(768px down) {
			font-size: 70%;
		}
	}
}

.cardItem {
	position: relative;
	height: 336px;
	width: 230px;
	margin-top: -5%;
	margin-right: 48px;

	@include breakpoint(1083px down) {
		height: 319px;
		width: 24%;
		margin-right: 20px;
	}

	@include breakpoint(768px down) {
		height: 250px;
		width: 25%;
	}

	@include breakpoint(560px down) {
		height: 100%;
		width: 80%;
		text-align: center;
		margin: 5% 0% 5% 0%;
	}
}

.cardItem:hover .leaderOverlay {
	opacity: 0.8;
	height: 336px;
	margin: 0;
}

.cardItem:hover .whiteDivider {
	width: 70px;
}

.leaderImage {
	width: 100%;
	height: auto;
	max-width: 230px;
	min-width: 200px;
	min-height: 275px;
	display: block;

	@include breakpoint(560px down) {
		min-width: 0;
		min-height: 0;
	}

	@include breakpoint(768px down) {
		min-width: 0;
		min-height: 0;
	}

	@include breakpoint(560px down) {
		display: inline;
	}
}

.leaderOverlay {
	margin-top: 200px;
	margin-right: 34px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 45px;
	float: right;
	width: 100%;
	opacity: 0;
	padding: 10px;
	transition: 0.5s ease-in-out;
	background-color: #2e2e33;
	z-index: 1;

	@include breakpoint(768px down) {
		display: none;
	}

	@include breakpoint(560px down) {
		display: block !important;
		max-width: 230px;
		margin: 0 auto;
	}

	@include breakpoint(1080px down) {
		display: none;
	}
}

.leaderInfoBox {
	padding-left: 3px;
	padding-top: 3px;
}

.leaderName {
	font-size: 100%;
	margin: 0;
	font-weight: 200;

	@include breakpoint(560px down) {
		&:before {
			position: absolute;
			content: '___';
			margin-top: 4px;
		}
	}
}

.leaderPosition {
	font-size: 80%;
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-family: proxima-nova, sans-serif;
}

.whiteDivider {
	height: 1px;
	width: 15px;
	background: $white;
	transition: all 0.3s ease;
	@include breakpoint(560px down) {
		display: none;
	}
}
