$saturated-primary: saturate($primary, 45);

.wrapper {
	background-color: $primary;
	height: 100vh;
	overflow: hidden;
	padding-top: $nav-height;
	position: relative;
	width: 100%;
	z-index: 0;

	&:before {
		@include mask();
		background-color: darken($saturated-primary, 12);
		content: '';
		display: block;
		opacity: 0.75;
		z-index: -2;
	}
}

.background {
	@include mask();
	background-position: center;
	background-size: cover;
	filter: grayscale(1);
	z-index: -3;
}

.container {
	height: calc(100% - #{$nav-height});
	padding: 0;

	@include breakpoint(medium) {
		padding: 0 40px;
	}
}

.svg {
	fill: darken($saturated-primary, 5);
	fill-opacity: 0.5;
	height: 150vmax;
	left: 50%;
	position: absolute;
	top: 50%;
	transition: all 0.3s ease-in-out 0s;
	transform-origin: center;
	width: 150vmax;
	z-index: -1;
}

.svgLeftRotation {
	animation: rotateRight 100s infinite linear;
}

.svgRightRotation {
	animation: rotateLeft 100s infinite linear;
}

@keyframes rotateRight {
	from {
		transform: translate(-40%, -55%) rotate(35deg);
	}

	to {
		transform: translate(-40%, -55%) rotate(80deg);
	}
}

@keyframes rotateLeft {
	from {
		transform: translate(-40%, -55%) rotate(80deg);
	}

	to {
		transform: translate(-40%, -55%) rotate(35deg);
	}
}

.row {
	align-items: center;
	height: 100%;
	max-width: 1200px;
}

.col {
	@include flex-grid-column(12);
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	max-height: 500px;
	padding-bottom: 20px;
	padding-top: 10px;

	&:last-child {
		padding-top: 0;
	}

	@include breakpoint(medium) {
		@include flex-grid-column(6);
		align-items: center;
		height: 100%;
		padding-bottom: 40px;
		padding-top: 40px;

		&:first-child {
			order: 1;
		}

		&:last-child {
			border-right: 1px solid $grey;
		}
	}
}

.content {
	margin: 0 auto;
	max-width: 400px;
	padding-right: 40px;

	@include breakpoint(medium) {
		padding: 0;
	}
}

.quote {
	font-size: 0.85em;
	font-style: italic;
	line-height: 1.2;

	@include breakpoint(medium) {
		font-size: 1.25em;
	}
}

.title {
	color: lighten(saturate($primary, 40), 50);
	font-size: 2em;
	margin: 0;
	text-transform: uppercase;

	@include breakpoint(medium) {
		font-size: 2.5em;
	}
}

.phone {
	margin: 0;
	text-align: right;

	a {
		color: $grey;
		font-family: $header-font-family;
		font-size: 1em;
		font-weight: 200;
		text-decoration: none;
		transition: color 0.15s ease-in;
	}

	&:hover a {
		color: $white;
	}

	@include breakpoint(medium) {
		a {
			font-size: 1.25em;
		}
	}
}

.list {
	list-style: none;
	margin: 0;
}

.item {
	font-size: 0.7em;
	margin: 5px 0;

	@include breakpoint(medium) {
		font-size: 1.25em;
		margin: 20px 0;
	}
}

.file {
	text-align: right;

	p {
		font-size: 0.9em;
		margin: 0;
	}

	@include breakpoint(medium) {
		p {
			font-size: 1em;
		}
	}
}
