.container {
	background-color: transparent;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(-100%);
	z-index: 5;
}

.overlay {
	@include mask();
	background-color: $black;
	opacity: 0.5;
	z-index: -1;
}

.crossBackground {
	position: absolute;
	width: 100%;
	top: 15%;
	z-index: 0;
}

.content {
	background: linear-gradient(180deg, #eeeeee 0%, #d8d8d8 100%);
	height: 100%;
	max-width: 500px;
	min-height: 300px;
	z-index: 1;
}

.list {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	height: calc(100% - #{$nav-height});
	justify-content: space-around;
	max-width: 400px;
	padding-right: 38px;
	z-index: 2;
}

.bar {
	align-items: center;
	display: flex;
	height: $nav-height;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: $global-width;
	min-height: $nav-height;
	padding: 5px 38px;
	position: relative;
	width: 100%;
	z-index: 2;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.closeButtonStyle {
	color: $blue;
	width: 25px;
	min-width: 15px;
}

.closeBtn {
	display: flex;
	flex-direction: column;

	&:hover {
		cursor: pointer;
	}
}

.closeText {
	color: $blue;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}

.menu {
	justify-content: flex-end;
	align-items: center;
	display: flex;
	height: calc(100% - #{$nav-height});
	max-height: 780px;
}

.link {
	color: $black;
	display: block;
	font-family: $header-font-family;
	font-size: 30px;
	font-weight: 200;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.25s ease-in;

	&:hover {
		color: $blue;
	}

	&:active,
	&:focus {
		color: $blue;
	}
}

.logo {
	width: 150px;
	max-height: 100%;
	padding: 0 20px;
	height: 40px;
}
